{% extends "bootstrap/base.html" %}
{% block title %}Flasky{% endblock %}


{% import "bootstrap/wtf.html" as wtf %}



{% block body %}

<div class="container">
	<div class="page-header"> <h1>Utenti Registrati</h1>
</div>
<div class="row">
	<table class="table table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Label</th>
        <th>Position</th>
      </tr>
    </thead>
    <tbody>
    	{% for goal in goals %}
      <tr>
        <td>{{ goal.id }}</td>
        <td>{{ goal.label }}</td>
        <td> ({{ goal.x }}, {{ goal.y}})</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>
</div>

{% endblock %}
